[package]
name = "niffler"
version = "2.0.1"
authors = ["Pierre Marijon <pierre.marijon@inria.fr>", "Luiz Irber <luiz.irber@gmail.com>"]
description = "Simple and transparent support for compressed files"
license = "MIT/Apache-2.0"
repository = "https://github.com/luizirber/niffler"
homepage = "https://github.com/luizirber/niffler"
readme = "README.md"
documentation = "https://docs.rs/niffler"
edition = "2018"

[features]
default = ["bzip2", "xz2"]
bz2 = ["bzip2"]
lzma = ["xz2"]

[dependencies]
bzip2 = { version = "0.3.3", optional = true }
cfg-if = "0.1"
thiserror = "1.0"
flate2 = "1.0"
enum_primitive = "0.1.1"
xz2 = { version = "0.1", optional = true }

[dev-dependencies]
tempfile = "3"
